#map {
	width: 100%;
	height: 100%;
	background-color: gray;
}

#map img {
    max-width: none;
}

#riderStream_logo {
	width: 470px;
	height: 250px;
	background-color: rgba(0,0,0,0.7);
	background-repeat: no-repeat;
	position: absolute;
	right:100px;
	top:100px;
	opacity: 0;
	background-size: 100%;
}

.showlogo{
	background-image: url(logo.png);
}

#riderStream_rightpanel {
	height: 100%;
	width: auto;
	opacity: 0;
}

#riderStream_rightpanel_therealdealbrotha{
	position: absolute;
	height: 85%;
	width: 100%;
	bottom: 0;
	padding: 12px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

#riderStream_rightpanel_therealdealbrotha h4{
	color: white;
	font-family: 'RobotoRegular', serif;
	letter-spacing: -1px;
}

#listofroutes {
	height: 20%;
	width: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: red;
}

#listofroutes li {
	width: 100%;
	height: 40px;
	background-color: green;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	border-bottom: 2px solid white;
	display: block;
}

#rightpanel_collapsearrow {
	width: 100%;
	height: 5%;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #555;
	cursor: pointer;
}
.close_arrow {
	background-image: url(buttonclose.png) !important;
}
.open_arrow {
	background-image: url(buttonexpand.png) !important;
}

#rightpanel_collapsearrow:hover {
	background-color: #444;
}



@font-face {
    font-family: 'RobotoRegular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoItalic';
    src: url('Roboto-Italic-webfont.eot');
    src: url('Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Italic-webfont.woff') format('woff'),
         url('Roboto-Italic-webfont.ttf') format('truetype'),
         url('Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';
    src: url('Roboto-Bold-webfont.eot');
    src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('Roboto-BoldItalic-webfont.eot');
    src: url('Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-BoldItalic-webfont.woff') format('woff'),
         url('Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('Roboto-Condensed-webfont.eot');
    src: url('Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Condensed-webfont.woff') format('woff'),
         url('Roboto-Condensed-webfont.ttf') format('truetype'),
         url('Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('Roboto-CondensedItalic-webfont.eot');
    src: url('Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('Roboto-BoldCondensed-webfont.eot');
    src: url('Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('Roboto-BoldCondensedItalic-webfont.eot');
    src: url('Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('Roboto-Thin-webfont.eot');
    src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Thin-webfont.woff') format('woff'),
         url('Roboto-Thin-webfont.ttf') format('truetype'),
         url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('Roboto-LightItalic-webfont.eot');
    src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-LightItalic-webfont.woff') format('woff'),
         url('Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('Roboto-Medium-webfont.eot');
    src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Medium-webfont.woff') format('woff'),
         url('Roboto-Medium-webfont.ttf') format('truetype'),
         url('Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('Roboto-MediumItalic-webfont.eot');
    src: url('Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-MediumItalic-webfont.woff') format('woff'),
         url('Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlack';
    src: url('Roboto-Black-webfont.eot');
    src: url('Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Black-webfont.woff') format('woff'),
         url('Roboto-Black-webfont.ttf') format('truetype'),
         url('Roboto-Black-webfont.svg#RobotoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('Roboto-BlackItalic-webfont.eot');
    src: url('Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-BlackItalic-webfont.woff') format('woff'),
         url('Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('Roboto-BlackItalic-webfont.svg#RobotoBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

