<!DOCTYPE html>
<html>
<head>

  <title>flow</title>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAbVU6r4eUcGLrvbCYRl6a9lueOY_txegc&sensor=true" type="text/javascript"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.20/jquery-ui.min.js" type="text/javascript"></script>
</head>
<body>
  <%= yield %>
</body>

</html>
